@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800;900&display=swap&subset=cyrillic-ext");
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: Arial, Helvetica, sans-serif;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
main,
aside {
  display: block;
  width: 100%;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.wrapper {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow-x: hidden;
  height: 100%;
  z-index: 1;
}

body {
  background-color: #ebecf0;
}

.wrapper * {
  color: #4f4f4f;
  font-family: "Montserrat";
  font-weight: 500;
}

.container {
  max-width: 1680px;
  margin: 0 auto;
  padding: 0 15px;
}

.ms--animation__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: fixed;
  z-index: 50;
  background-color: #ebecf0;
  min-width: 100%;
  min-height: 100vh;
}

.ms--animation__content .ms--animation__logo {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: #f05454;
  border-radius: 0.3125rem;
  width: 5rem;
  height: 4.0625rem;
  padding: 0 0.75rem;
  -webkit-transition: -webkit-transform 0.9s linear;
  transition: -webkit-transform 0.9s linear;
  -o-transition: transform 0.9s linear;
  transition: transform 0.9s linear;
  transition: transform 0.9s linear, -webkit-transform 0.9s linear;
}

.ms--animation__content .ms--animation__logo .ms--animation__word {
  font-size: 30px;
  font-weight: 600;
  color: #4f4f4f;
  -webkit-transition: color 0.3s linear;
  -o-transition: color 0.3s linear;
  transition: color 0.3s linear;
}

.ms--animation__content .ms--animation__logo .ms-M {
  color: #fafafa;
  z-index: 3;
}

.ms--animation__content .ms--animation__logo .ms-S {
  color: #4f4f4f;
  z-index: 3;
}

.ms--animation__content .ms--animation__logo::after {
  position: absolute;
  content: "";
  width: 5rem;
  height: 0rem;
  z-index: 2;
  top: 0;
  left: 0;
  -webkit-transition: height 0.5s linear;
  -o-transition: height 0.5s linear;
  transition: height 0.5s linear;
  background-color: #4f4f4f;
  border-radius: 0.3125rem;
}

.ms--animation__active .ms--animation__logo {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.ms--animation__active .ms--animation__logo::after {
  height: 4.0625rem;
}

.ms--animation__active .ms--animation__logo .ms-M {
  color: #f05454;
}

.ms--animation__active .ms--animation__logo .ms-S {
  color: #fafafa;
}

._inputColor {
  -webkit-appearance: none;
  cursor: pointer;
  border: none;
  width: 2.8125rem;
  height: 2.8125rem;
  border-radius: 50%;
  -webkit-box-shadow: -5px -5px 10px #fff, 5px 5px 10px #babecc;
  box-shadow: -5px -5px 10px #fff, 5px 5px 10px #babecc;
  border: 1px solid rgba(240, 84, 84, 0.4117647059);
}

._inputColor::-webkit-color-swatch-wrapper {
  padding: 0;
}

._inputColor::-webkit-color-swatch {
  border: none;
  border-radius: 50%;
}

._inputColor::-moz-focus-inner {
  border: none;
  padding: 0;
  border-radius: 50%;
}

._inputColor::-moz-color-swatch {
  border: none;
  border-radius: 50%;
}

.generate-size__input {
  padding: 0.9375rem;
  border-radius: 0.3125rem;
  background-color: #ebecf0;
  text-shadow: 1px 1px 0 #fff;
  -webkit-box-shadow: -5px -5px 16px #fff, 5px 5px 16px #babecc;
  box-shadow: -5px -5px 16px #fff, 5px 5px 16px #babecc;
}

.generate-size__input ._inputRange {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.generate-size__input ._inputRange::-webkit-slider-runnable-track {
  border-radius: 1.5625rem;
  height: 0.4375rem;
  background-color: rgb(187, 187, 187);
}

.generate-size__input ._inputRange::-webkit-slider-thumb {
  background: #f05454;
  border-radius: 1.5625rem;
  cursor: pointer;
  width: 0.75rem;
  height: 1.875rem;
  -webkit-appearance: none;
  margin-top: -0.6875rem;
}

.generate-size__input ._inputRange::-moz-range-track {
  border-radius: 1.5625rem;
  height: 0.4375rem;
  background-color: rgb(187, 187, 187);
}

.generate-size__input ._inputRange::-moz-range-thumb {
  background: #f05454;
  border-radius: 1.5625rem;
  cursor: pointer;
  width: 0.75rem;
  height: 1.875rem;
  -webkit-appearance: none;
  margin-top: -0.6875rem;
}

._triangleTitle {
  font-size: 24px;
  font-weight: 600;
}

._obj {
  position: relative;
}

._obj img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
  object-fit: cover;
}

.header .header__content {
  padding: 1.875rem 15px;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 1.25rem;
  width: 100%;
  max-width: 100%;
  min-height: 4.375rem;
  background-color: #ebecf0;
  -webkit-box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.808), 5px 5px 10px rgba(186, 190, 204, 0.4588235294);
  box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.808), 5px 5px 10px rgba(186, 190, 204, 0.4588235294);
  border-radius: 0.3125rem;
}

.header__body .logo {
  position: relative;
  width: 8.125rem;
}

.header__body .logo > span {
  position: absolute;
  font-size: 19px;
  font-weight: 600;
}

.header__body .logo .logo__span-top {
  top: -1.0625em;
}

.header__body .logo .logo__span-bottom {
  bottom: -1.0625em;
  left: 1.25em;
  color: #f05454;
}

.header__body .header__body-menu .header__body-list {
  width: 100%;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.header__body .header__body-menu .header__body-list .header__body-link {
  font-size: 17px;
  font-weight: 600;
  margin: 0 0 0 1.25rem;
  color: #f05454;
}

.header__body .header__body-spoiler {
  position: relative;
  display: none;
}

.triangle__about {
  position: relative;
  margin-bottom: 40px;
}

.triangle__about .triangle__about-title {
  font-size: 27px;
  line-height: 1.25em;
  font-weight: 600;
  margin-bottom: 25px;
}

.triangle__about .triangle__about-title span {
  color: #f05454;
  font-weight: 600;
}

.triangle__about .triangle__about-subTitle {
  font-size: 17px;
  line-height: 1.5625em;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  text-shadow: 1px 1px 0 #fff;
}

.triangle__about .triangle__about--more {
  z-index: 5;
  display: none;
}

.triangle__about--active .triangle__about-subTitle {
  height: 20.3125rem;
}

.triangle__about--active .triangle__about--more img {
  -webkit-transition: all 0.6s linear;
  -o-transition: all 0.6s linear;
  transition: all 0.6s linear;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.generate__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  border-bottom: 0.0625rem solid rgba(133, 133, 133, 0.336);
  padding: 0 0 2.1875rem;
}

.triangle__generate {
  min-width: 29.375rem;
  margin: 0 1.25rem 0 0;
}

.triangle__generate .triangle__generate-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding: 0rem 0;
  margin: 0 0 1.875rem;
}

.triangle__generate .triangle__generate-content .generate-direction {
  margin-right: 50px;
}

.triangle__generate .triangle__generate-content .generate-direction .generate-direction__title {
  margin: 0 0 1.25em;
}

.triangle__generate .triangle__generate-content .generate-direction .generate-direction__content {
  position: relative;
  width: 11.25rem;
  height: 11.875rem;
}

.triangle__generate
  .triangle__generate-content
  .generate-direction
  .generate-direction__content
  .generate-direction__triangle {
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  cursor: pointer;
}

.triangle__generate .triangle__generate-content .generate-direction .generate-direction__content .triangle--top-left {
  top: 0;
  left: 0;
  border-width: 50px 50px 0 0;
  border-color: rgba(240, 84, 84, 0.4509803922) transparent transparent transparent;
}

.triangle__generate .triangle__generate-content .generate-direction .generate-direction__content .triangle--top-right {
  top: 0;
  right: 0;
  border-width: 0 50px 50px 0;
  border-color: transparent rgba(240, 84, 84, 0.4509803922) transparent transparent;
}

.triangle__generate
  .triangle__generate-content
  .generate-direction
  .generate-direction__content
  .triangle--bottom-left {
  bottom: 0;
  left: 0;
  border-width: 50px 0 0 50px;
  border-color: transparent transparent transparent rgba(240, 84, 84, 0.4509803922);
}

.triangle__generate
  .triangle__generate-content
  .generate-direction
  .generate-direction__content
  .triangle--bottom-right {
  bottom: 0;
  right: 0;
  border-width: 0 0 50px 50px;
  border-color: transparent transparent rgba(240, 84, 84, 0.4509803922) transparent;
}

.triangle__generate .triangle__generate-content .generate-direction .generate-direction__content .triangle--top {
  top: 0;
  left: 50%;
  margin-left: -25px;
  border-width: 0 25px 50px 25px;
  border-color: transparent transparent rgba(240, 84, 84, 0.4509803922) transparent;
}

.triangle__generate .triangle__generate-content .generate-direction .generate-direction__content .triangle--right {
  right: 0;
  top: 50%;
  margin-top: -25px;
  border-width: 25px 0 25px 50px;
  border-color: transparent transparent transparent rgba(240, 84, 84, 0.4509803922);
}

.triangle__generate .triangle__generate-content .generate-direction .generate-direction__content .triangle--bottom {
  bottom: 0;
  left: 50%;
  margin-left: -25px;
  border-width: 50px 25px 0 25px;
  border-color: rgba(240, 84, 84, 0.4509803922) transparent transparent transparent;
}

.triangle__generate .triangle__generate-content .generate-direction .generate-direction__content .triangle--left {
  left: 0;
  top: 50%;
  margin-top: -25px;
  border-width: 25px 50px 25px 0;
  border-color: transparent rgba(240, 84, 84, 0.4509803922) transparent transparent;
}

.triangle__generate .triangle__generate-content .generate-direction .dirTriangleActive--top-left .triangle--top-left {
  border-color: #f05454 transparent transparent transparent;
}

.triangle__generate .triangle__generate-content .generate-direction .dirTriangleActive--top-right .triangle--top-right {
  border-color: transparent #f05454 transparent transparent;
}

.triangle__generate
  .triangle__generate-content
  .generate-direction
  .dirTriangleActive--bottom-left
  .triangle--bottom-left {
  border-color: transparent transparent transparent #f05454;
}

.triangle__generate
  .triangle__generate-content
  .generate-direction
  .dirTriangleActive--bottom-right
  .triangle--bottom-right {
  border-color: transparent transparent #f05454 transparent;
}

.triangle__generate .triangle__generate-content .generate-direction .dirTriangleActive--top .triangle--top {
  border-color: transparent transparent #f05454 transparent;
}

.triangle__generate .triangle__generate-content .generate-direction .dirTriangleActive--right .triangle--right {
  border-color: transparent transparent transparent #f05454;
}

.triangle__generate .triangle__generate-content .generate-direction .dirTriangleActive--bottom .triangle--bottom {
  border-color: #f05454 transparent transparent transparent;
}

.triangle__generate .triangle__generate-content .generate-direction .dirTriangleActive--left .triangle--left {
  border-color: transparent #f05454 transparent transparent;
}

.triangle__generate .triangle__generate-content .generate-type .generate-type__title {
  margin: 0 0 1.25em;
}

.triangle__generate .triangle__generate-content .generate-type .generate-type__radioContent {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 0 0.9375rem 0;
}

.triangle__generate .triangle__generate-content .generate-type .generate-type__radioContent .generate-type__radio {
  display: none;
}

.triangle__generate .triangle__generate-content .generate-type .generate-type__radioContent .generate-type__label {
  position: relative;
  padding: 0 0 0 1.25rem;
  cursor: pointer;
}

.triangle__generate
  .triangle__generate-content
  .generate-type
  .generate-type__radioContent
  .generate-type__label::before {
  position: absolute;
  content: "";
  top: 50%;
  margin-top: -0.4375rem;
  left: 0;
  width: 0.8125rem;
  height: 0.8125rem;
  background-color: rgba(240, 84, 84, 0.4509803922);
  border-radius: 50%;
}

.triangle__generate
  .triangle__generate-content
  .generate-type
  .generate-type__radioContent
  .generate-type__radio:checked
  + label::before {
  border: 0.25rem solid rgb(197, 197, 197);
  background-color: #f05454;
}

.triangle__generate .triangle__generate-content .generate-type .generate-type__radioContent .disabled--radio {
  display: none;
}

.triangle__generate .triangle__generate-content .generate-type .unShow--radio {
  opacity: 0.5;
}

.triangle__generate .triangle__generate-content .generate-type .unShow--radio .disabled--radio {
  display: block;
}

.triangle__generate .triangle__generate-content .generate-type .unShow--radio .open--radio {
  display: none;
}

.triangle__generate .triangle__generate-content .generate-type .generate-type__colorTitle {
  margin: 1.4375em 0 0.625em;
}

.triangle__generate .triangle__generate-content .generate-type .generate-type__triangleColor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.triangle__generate .triangle__generate-content .generate-type .generate-type__triangleColor .generate-type__colorOut {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  height: 1.875rem;
  width: 6.25rem;
  border-bottom: 0.0625rem solid #ccc;
  margin: 0 0 0 0.625rem;
  padding: 0 0 0.3125rem;
}

.triangle__generate .triangle__generate-sizeContent .generate-size__title {
  margin: 0 0 0.625em;
}

.triangle__generate .triangle__generate-sizeContent .mob--flex {
  width: 100%;
  max-width: 100%;
}

.triangle__generate .triangle__generate-sizeContent .generate-size__input {
  margin: 0 0 1.25rem;
  max-width: 25rem;
  width: 100%;
}

.triangle__generate .triangle__generate-sizeContent .generate-size__input .input__count {
  margin: 0 0 0.9375rem;
}

.triangle__generate .triangle__generate-sizeContent .generate-size__input .input__count span {
  font-weight: 600;
  margin: 0 0 0 0.3125rem;
}

.triangle__generate .triangle__generate-sizeContent .generate-size__input input {
  max-width: 100%;
  width: 100%;
  background-color: inherit;
}

.triangle__generate .triangle__generate-sizeContent .inputHeightWrapper {
  display: none;
}

.triangle__generate .triangle__generate-sizeContent .inputTopWrapper {
  display: none;
}

.triangle__generate .triangle__generate-sizeContent .inputRightWrapper {
  display: none;
}

.triangle__generate .triangle__generate-sizeContent .inputBottomWrapper {
  display: none;
}

.triangle__generate .triangle__generate-sizeContent .inputLeftWrapper {
  display: none;
}

.triangle__show {
  height: 100%;
  max-width: 100%;
  width: 100%;
}

.triangle__show .triangle__show-content {
  position: relative;
  padding: 1.25rem;
  width: 100%;
  height: 31.25rem;
  border-radius: 0.3125rem;
  overflow: auto;
  background-color: #ebecf0;
  -webkit-box-shadow: -5px -5px 13px #fff, 5px 5px 13px #babecc;
  box-shadow: -5px -5px 13px #fff, 5px 5px 13px #babecc;
}

.triangle__show .triangle__show-content img {
  z-index: -1;
}

.triangle__show .triangle__show-content .triangle {
  position: absolute;
  margin: 0 auto;
  top: 50%;
  margin-top: -7.8125rem;
  left: 50%;
  margin-left: -7.8125rem;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 250px 250px 0 0;
  border-color: #f05454 transparent transparent transparent;
}

.triangle__show .triangle__show-inputContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  margin: 1.25rem 0 0;
}

.triangle__show .triangle__show-inputContent .triangle__show-bg {
  font-size: 20px;
  font-weight: 600;
  margin: 0 0.625rem 0 0;
}

.triangle__show .triangle__show-inputContent .triangle__show-inputOut {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding: 0 0 0.3125rem 0;
  margin: 0 0.9375rem 0 0;
  width: 5.625rem;
  min-height: 1.875rem;
  border-bottom: 0.0625rem solid #ccc;
  border-radius: 0.125rem;
  color: rgba(0, 0, 0, 0.829);
}

.triangle__css-out {
  margin: 2.5rem 0 0;
  padding: 0rem;
}

.triangle__css-out .triangle__css-title {
  margin: 0 0 1.25rem;
}

.triangle__css-out .triangle__css-title span {
  color: #f05454;
  font-weight: 600;
}

.triangle__css-out .triangle__css-wrapper {
  background-color: #f1f1f1;
  border-radius: 0.3125rem;
  -webkit-box-shadow: inset 0 0 0.4375rem rgba(0, 0, 0, 0.082);
  box-shadow: inset 0 0 0.4375rem rgba(0, 0, 0, 0.082);
  padding: 2.1875rem 0.9375rem;
  line-height: 1.625em;
  background-color: #ebecf0;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.37);
  border-radius: 0.3125rem;
  -webkit-box-shadow: inset -5px -5px 5px #fff, inset 2px 2px 7px #babecc;
  box-shadow: inset -5px -5px 5px #fff, inset 2px 2px 7px #babecc;
}

.triangle__css-out .triangle__css-wrapper .triangle__css--padding {
  margin: 0 0 0 1.25rem;
}

.triangle__css-out .triangle__css-wrapper .triangle__css--padding .triangle__css--color {
  color: #f05454;
}

.footer {
  background-color: #4f4f4f;
  margin: 1.875rem 0 0;
}

.footer .footer__content {
  padding: 1.25rem 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer .footer__content .footer__copy-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer .footer__content .footer__copy-content .footer__copy {
  color: #fff;
  margin: 0 0 0 0.9375rem;
}

.footer .footer__content .footer__copy-content .footer--MS {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: #fafafa;
  border-radius: 0.3125rem;
  width: 3.4375rem;
  height: 2.8125rem;
  padding: 0 0.625rem;
}

.footer .footer__content .footer__copy-content .footer--MS > * {
  font-weight: 600;
  font-size: 1.25rem;
}

.footer .footer__content .footer__copy-content .footer--MS .footer__ms-S {
  color: #f05454;
}

.footer .footer__content .footer__copy-messages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer .footer__content .footer__copy-messages .footer__copy-text {
  color: #fff;
  margin: 0 0.625rem 0 0;
}

.footer .footer__content .footer__copy-messages .footer__copy-youtube {
  width: 2.8125rem;
}

.footer .footer__content .footer__copy-messages .footer__copy-telegram {
  width: 2.1875rem;
  margin: 0 0 0 0.625rem;
}

@media (max-width: 1680px) {
  .ms--animation__content .ms--animation__logo .ms--animation__word {
    font-size: calc(24px + 6 * ((100vw - 320px) / 1360));
  }

  ._triangleTitle {
    font-size: calc(18px + 6 * ((100vw - 320px) / 1360));
  }

  .header__body .logo > span {
    font-size: calc(15px + 4 * ((100vw - 320px) / 1360));
  }

  .header__body .header__body-menu .header__body-list .header__body-link {
    font-size: calc(14px + 3 * ((100vw - 320px) / 1360));
  }

  .triangle__about {
    margin-bottom: calc(50px + -10 * ((100vw - 320px) / 1360));
  }

  .triangle__about .triangle__about-title {
    font-size: calc(19px + 8 * ((100vw - 320px) / 1360));
  }

  .triangle__about .triangle__about-title {
    margin-bottom: calc(17px + 8 * ((100vw - 320px) / 1360));
  }

  .triangle__about .triangle__about-subTitle {
    font-size: calc(14px + 3 * ((100vw - 320px) / 1360));
  }

  .triangle__generate .triangle__generate-content .generate-direction {
    margin-right: calc(30px + 20 * ((100vw - 320px) / 1360));
  }

  .triangle__show .triangle__show-inputContent .triangle__show-bg {
    font-size: calc(16px + 4 * ((100vw - 320px) / 1360));
  }
}

@media (max-width: 991.98px) {
  .generate__wrapper {
    display: block;
  }

  .triangle__generate {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 0 0 1.5625rem;
  }

  .triangle__generate .triangle__generate-content {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
    margin: 0 3.75rem 0 0;
  }

  .triangle__generate .triangle__generate-sizeContent {
    min-width: 18.125rem;
    max-width: 25rem;
    width: 100%;
    padding: 1.25rem 0;
  }
}

@media (max-width: 767.98px) {
  .triangle__generate {
    display: block;
  }

  .triangle__generate .triangle__generate-sizeContent {
    max-width: 100%;
    padding: 1.25rem 0 0;
  }

  .triangle__generate .triangle__generate-sizeContent .mob--flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-column-gap: 1.875rem;
    -moz-column-gap: 1.875rem;
    column-gap: 1.875rem;
  }

  .triangle__generate .triangle__generate-sizeContent .generate-size__input {
    max-width: 18.125rem;
  }
}

@media (max-width: 590.98px) {
  .header__body {
    padding: 0 0.9375rem;
  }

  .header__body .header__body-menu {
    display: none;
  }

  .header__body .header__body-spoiler {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-left: auto;
  }

  .header__body .header__body-spoiler img {
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    margin-left: 0.3125rem;
  }

  .header__body .header__body-spoiler .body-spoiler__text {
    font-weight: 600;
    color: #f05454;
  }

  .header__body .header__body-spoiler .body-spoiler__menu {
    -webkit-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    transition: all 0.7s ease;
    position: absolute;
    display: block;
    top: 100%;
    right: -1000px;
    margin-top: 1.25rem;
    width: 15rem;
    padding: 1.25rem 0.625rem;
    background-color: #4f4f4f;
    border-radius: 0.1875rem;
    z-index: 5;
  }

  .header__body .header__body-spoiler .body-spoiler__menu ul li:not(:last-child) {
    margin: 0 0 1.25rem;
  }

  .header__body .header__body-spoiler .body-spoiler__menu ul li a {
    font-weight: 600;
    color: #fff;
  }

  .header__body .header__body-spoiler--active .body-spoiler__img {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  .header__body .header__body-spoiler--active .body-spoiler__menu {
    -webkit-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    transition: all 0.7s ease;
    right: 0;
  }

  .triangle__generate {
    min-width: auto;
  }

  .triangle__generate .triangle__generate-content {
    margin: 0;
  }

  .triangle__generate .triangle__generate-sizeContent .generate-size__input {
    max-width: 100%;
  }

  .footer .footer__content .footer__copy-messages .footer__copy-text {
    font-size: 0.875rem;
  }

  .footer .footer__content .footer__copy-messages .footer__copy-youtube {
    width: 2.1875rem;
  }

  .footer .footer__content .footer__copy-messages .footer__copy-telegram {
    width: 1.875rem;
  }
}

@media (max-width: 479.98px) {
  .ms--animation__content .ms--animation__logo {
    width: 4.6875rem;
    height: 4.0625rem;
  }

  .ms--animation__content .ms--animation__logo::after {
    width: 4.6875rem;
  }

  .ms--animation__active .ms--animation__logo::after {
    height: 4.0625rem;
  }

  .triangle__about .triangle__about-subTitle {
    height: 6.25rem;
    overflow: hidden;
  }

  .triangle__about .triangle__about--more {
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: -1.5625rem;
  }

  .triangle__about .triangle__about--more img {
    -webkit-transition: all 0.6s linear;
    -o-transition: all 0.6s linear;
    transition: all 0.6s linear;
    margin-top: 0.25rem;
  }

  .triangle__about .triangle__about--more .triangle__about-textMore {
    color: #f05454;
    font-weight: 600;
    font-size: 0.875rem;
  }

  .triangle__generate .triangle__generate-content {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .triangle__generate .triangle__generate-content .generate-direction {
    margin-right: 1.25rem;
  }

  .triangle__generate .triangle__generate-content .generate-direction .generate-direction__content {
    width: 8.125rem;
    height: 8.75rem;
  }

  .triangle__generate .triangle__generate-content .generate-direction .generate-direction__content .triangle--top-left {
    border-width: 35px 35px 0 0;
  }

  .triangle__generate
    .triangle__generate-content
    .generate-direction
    .generate-direction__content
    .triangle--top-right {
    border-width: 0 35px 35px 0;
  }

  .triangle__generate
    .triangle__generate-content
    .generate-direction
    .generate-direction__content
    .triangle--bottom-left {
    border-width: 35px 0 0 35px;
  }

  .triangle__generate
    .triangle__generate-content
    .generate-direction
    .generate-direction__content
    .triangle--bottom-right {
    border-width: 0 0 35px 35px;
  }

  .triangle__generate .triangle__generate-content .generate-direction .generate-direction__content .triangle--top {
    border-width: 0 17.5px 35px 17.5px;
    margin-left: -17.5px;
  }

  .triangle__generate .triangle__generate-content .generate-direction .generate-direction__content .triangle--right {
    border-width: 17.5px 0 17.5px 35px;
    margin-top: -17.5px;
  }

  .triangle__generate .triangle__generate-content .generate-direction .generate-direction__content .triangle--bottom {
    border-width: 35px 17.5px 0 17.5px;
    margin-left: -17.5px;
  }

  .triangle__generate .triangle__generate-content .generate-direction .generate-direction__content .triangle--left {
    border-width: 17.5px 35px 17.5px 0;
    margin-top: -17.5px;
  }

  .triangle__generate .triangle__generate-content .generate-type .generate-type__radioContent .generate-type__label {
    font-size: 0.9375rem;
  }

  .footer .footer__content .footer__copy-content .footer--MS {
    width: 2.8125rem;
    padding: 0 0.375rem;
    height: 2.1875rem;
  }

  .footer .footer__content .footer__copy-content .footer--MS > * {
    font-size: 1.125rem;
  }
}
